 #blueBlock{
    width: 50%;
    height: 200px;
    /* background-color:#3498db; */
    color:antiquewhite;
}

#image{  
    float: left;
    /* margin: 2px; */
    /* padding-left: 20px;
    padding-top: 2px; */
    filter: brightness(0) invert(1);
}

/* .divLeft{
    float: left;
    text-align: left;
}

.divRight{
    float:right;
    text-align: right;
}

.text-centre{
    text-align: center;
}

.row{
    margin: 10px 50px 20px 0;
}

.globe{
    color: #fff;
    float: left;
    font-size: 50px;
    margin: 0 20px 20px 0;
}

.img{
    opacity: 0.5;
    background-color:#3498db; 
} */

#input_address{
    width: 400px;
}